<div class="stats-container">
    <h1 class="current-rate">💓 75 BPM</h1>
    <div class="chart-container">
      <div class="circular-chart">
        <span>Heart Rate</span>
      </div>
    </div>
    
    <div class="stats">
      <div class="stat-box">
        <p>平均心跳</p>
        <h2>70 BPM</h2>
      </div>
      <div class="stat-box">
        <p>最低心跳</p>
        <h2>60 BPM</h2>
      </div>
      <div class="stat-box">
        <p>最高心跳</p>
        <h2>90 BPM</h2>
      </div>
    </div>
    
    <div class="buttons">
      <button mat-raised-button color="primary">日統計</button>
      <button mat-raised-button color="primary">週統計</button>
      <button mat-raised-button color="primary">月統計</button>
    </div>
  </div>
  